.links-content {
  margin-top: 1rem;
}

.link-navigation::after {
  content: " ";
  display: block;
  clear: both;
}

.card {
  width: 130px;
  font-size: 1rem;
  padding: 0;
  border-radius: 4px;
  transition-duration: 0.15s;
  margin-bottom: 1rem;
  display: block;
  float: left;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  background: #f5f5f5;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card {
  margin-left: 16px;
}

@media (max-width: 567px) {
  .card {
    margin-left: 16px;
    width: calc((100% - 16px) / 2);
  }

  .card:nth-child(2n + 1) {
    margin-left: 0;
  }

  .card:not(:nth-child(2n + 1)) {
    margin-left: 16px;
  }
}

@media (min-width: 567px) {
  .card {
    margin-left: 16px;
    width: calc((100% - 32px) / 3);
  }

  .card:nth-child(3n + 1) {
    margin-left: 0;
  }

  .card:not(:nth-child(3n + 1)) {
    margin-left: 16px;
  }
}

@media (min-width: 768px) {
  .card {
    margin-left: 16px;
    width: calc((100% - 48px) / 4);
  }

  .card:nth-child(4n + 1) {
    margin-left: 0;
  }

  .card:not(:nth-child(4n + 1)) {
    margin-left: 16px;
  }
}

@media (min-width: 1200px) {
  .card {
    margin-left: 16px;
    width: calc((100% - 64px) / 5);
  }

  .card:nth-child(5n + 1) {
    margin-left: 0;
  }

  .card:not(:nth-child(5n + 1)) {
    margin-left: 16px;
  }
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
}

.card .thumb {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-size: 100% 100% !important;
}

.posts-expand .post-body img {
  margin: 0;
  padding: 0;
  border: 0;
}

.card .card-header {
  display: block;
  text-align: center;
  padding: 1rem 0.25rem;
  font-weight: 500;
  color: #333;
  /* white-space: normal; */
}

.card .card-header a {
  font-style: normal;
  color: #2bbc8a;
  font-weight: 700;
  text-decoration: none;
  border: 0;
}

.card .card-header a:hover {
  color: #d480aa;
  text-decoration: none;
  border: 0;
}
